<div class="container">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Register</div>
            <div class="panel-body">
                <form name="register">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" ng-model="pwd" name="pwd">
                    </div>
                    <div class="form-group">
                        <label>Password confirm</label>
                        <input type="password" class="form-control" compare-to="pwd" ng-model="pwdConfirm" name="pwdConfirm">
                    </div>
                    <!-- dirty checks if the user has interacted with the input -->
                    <span ng-show="register.pwdConfirm.$dirty && register.pwdConfirm.$invalid">Passwords do not Match at all</span>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
